# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# Django stuff:
*.log
*.sqlite3
db.sqlite3
media/
staticfiles/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Environment variables
.env
*.env

# Miscellaneous
*.pot
*.pyc
*.pyd
*.pdb
*.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot

# MyPy
.mypy_cache/
.dmypy.json
typestubs/
