<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Category Selection</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <h1>Select a Category</h1>
    
    <!-- Main Category A and B checkboxes -->
    <div>
        <input type="checkbox" class="category-checkbox" data-category="A"> Category A
        <input type="checkbox" class="category-checkbox" data-category="B"> Category B
    </div>


</body>
</html>